.destinations {
  max-width: 60rem;
  width: 90%;
  margin: 2rem auto;
  animation: destinations-appear 1s ease-out forwards;
}


.destinations ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@keyframes destinations-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
